### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# The unique method shows every element of the series that appears only once

player_count = len(purchase_data["SN"].unique())
player_count_df = pd.DataFrame({"Player Count": [player_count]})
player_count_df

   Player Count
0           576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#caculations of # of unique items, average price, number of purchases and total revenue
unique_items_count = len(purchase_data["Item ID"].unique())
average_price = purchase_data["Price"].mean()
number_of_purchases = purchase_data["Item ID"].count()
total_revenue = purchase_data["Price"].sum()

unique_items_count
average_price
number_of_purchases
total_revenue

# Place all of the data found into a summary DataFrame

summary_table_df = pd.DataFrame({
    "Number of Unique Items":[unique_items_count],
    "Average Price":[average_price],
    "Number of Purchases": [number_of_purchases],
    "Total Revenue":[total_revenue]
})
summary_table_df

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0       3.050987                  780                     183        2379.77

## Gender Demographics

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame


## Purchasing Analysis (Gender)

In [4]:
#print(purchase_data)
#breakdown of purchasers by gender and percentages
pd1=purchase_data["Gender"].value_counts()
# pd1
# pd1_df = pd.DataFrame(pd1)
# pd1_df
pd2 = purchase_data["Gender"].value_counts(normalize=True)
df = pd.DataFrame({"Percentage of Players":(pd2*100).round(2), "Total":pd1})
df

                       Percentage of Players  Total
Male                                   83.59    652
Female                                 14.49    113
Other / Non-Disclosed                   1.92     15

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#group purchase data by gender
gb = purchase_data.groupby("Gender")

In [6]:
#purchase count, avg. purchase price, etc. by gender with formatting

purch_countbg = gb["Purchase ID"].count()
avg_purch_pricebg = (gb.mean()["Price"]).round(2)
total_purch_sumbg = gb.sum()["Price"]
normalized_totbg = (total_purch_sumbg/df.Total).round(2)
normalized_totbg

Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
dtype: float64

In [7]:
#Create summary dataframe

normalized_totaldf = pd.DataFrame({"Purchase Count":purch_countbg, "Average Purchase Price":avg_purch_pricebg, "Total Purchase Value":total_purch_sumbg,
                                  "Normalized Totals":normalized_totbg}, index=None)
normalized_totaldf

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Gender,,,,
Female,3.20,3.20,113,361.94
Male,3.02,3.02,652,1967.64
Other / Non-Disclosed,3.35,3.35,15,50.19

In [8]:
#organize columns and print
organized_norm_totaldf = normalized_totaldf[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"]]

organized_norm_totaldf

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,113,3.20,361.94,3.20
Male,652,3.02,1967.64,3.02
Other / Non-Disclosed,15,3.35,50.19,3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame